extends layout

block content

  h1 Power: #{item.power}
  <hr>
  h2 #[strong Owner Of Power:]
    a(href=item.powerholder.url) #{item.powerholder.charactername}
  
  h2 #[strong Power Description:] #{item.desc}
  h2 #[strong Price Of Power:] #{item.price}
  h2 #[strong Genre:]
    each val, index in item.genre
      a(href=val.url) #{val.name}
      if index < item.genre.length - 1
        |,

  div(style='margin-left:20px;margin-top:20px')
    hr
    h3
     a(href=item.url+'/delete') Delete Power
     |        
     a(href=item.url+'/update') Update Power


  //- div(style='margin-left:20px;margin-top:20px')
  //- each val, index in book.genre
  //-     a(href=val.url) #{val.name}
  //-     if index < book.genre.length - 1
  //-       |,



  //-   h4 Books

  //-   dl
  //-     each val in items
  //-       dt
  //-         a(href=item.url) #{item.power}
  //-       dd #{item.desc}

  //-     else
  //-       h2This author has no books.
        